{% extends 'base.html.twig' %}

{% block libelle %}
    {{ ad.libelle }}
{% endblock %}

{% block body %}


    <div class="container">
        <h1> {{ad.libelle}} </h1>
        <p> {{ad.description }} </p>
        <img src="{{ ad.image }}" alt="Image de l'article" style="height: 400px; width: 100%; display: block ">
        
    </div>
</div>

<div class="container">
    <div class="col">
                                   
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}






